:root {
    /* potential css variables  */
}

body {
    background-color: rgb(249, 222, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
    text-align: center;
    margin: 30px 175px;
    color: rgb(56, 52, 52);
}

button {
    padding: 10px;
    margin: 25px;
    cursor: grab;
    font-size: 20px;
    color: rgb(255, 192, 235);
    background-color: rgb(56, 52, 52);
}