* {
    color: rgb(56, 52, 52);
}

body {
    background-color: rgb(249, 222, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.timer {
    text-align: right;
    margin-right: 20px;
    font-size: 20px;
}

h1, h2 {
    text-align: center;
    margin: 30px 175px;
}

button {
    padding: 10px;
    margin: 25px;
    cursor: grab;
    font-size: 20px;
    color: rgb(255, 192, 235);
    background-color: rgb(56, 52, 52);
}

button:hover {
    box-shadow: 0 5px 25px rgb(240, 128, 204);
}

#start-page, #quiz-container, #all-done-container, #leader-board{
    background-color: rgb(244 188 219);
    border: 1px solid rgb(235 152 209);
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 80vw;
}

#quiz-container {
    display: none;
    text-align: center;
}

#all-done-container {
    display: none;
    text-align: center;
}

#leader-board {
    display: none;
    text-align: center;
}